<style>
  .footer {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width:100%;
  }

  footer a {
    display: flex;
    align-items: center;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white" href="#"> Prueba tecnica Edgar Vazquez Sanchez </a>  
</nav>

<div class="container">
  <app-persona></app-persona>  
</div>

<footer class="footer bg-dark rounded-top text-center">
  <div class="container py-2">
      <div class="row justify-content-center">
        <div class="col-2">
          <a href="https://github.com/vazqzsama/pruebaBack.git" target="_blank" class="text-white">Github Back</a>
          <a href="https://github.com/vazqzsama/pruebaFront.git" target="_blank" class="text-white">Github Front</a>
        </div>
      </div>
  </div>
</footer>